CMakeCache.txt
CMakeFiles/
Makefile
Simd.pc
Test
cmake_install.cmake
install_manifest.txt
libSimd.a
libSimdAvx1.a
libSimdAvx2.a
libSimdBase.a
libSimdSse1.a
libSimdSse2.a
libSimdSse3.a
libSimdSse41.a
libSimdSse42.a
libSimdSsse3.a
libTestCheckC.a
*~